* {
	font-family: 'Futura', sans-serif;
}

/* HOME */
/* ----------------------------------- */

#homepage {
	padding: 20px 50px;
}

#homepage button {
	margin: 20px auto;
}

.header {
	padding-top: 20px;
}

#todays-album {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	width: 80%;
	padding: 10px;
}

.today-text {
	text-align: right;
}

.multiple-albums {
	text-align: center;
}

.mini-album-display {
	display: inline-block;
	margin: 0px 10px;
	max-width: 125px;
	word-wrap: break-word;
	vertical-align: text-top;
}

.mini-album-description {
	font-size: 10px;
    padding: 10px 0px;
}

/* ALBUM VIEW */
/* ----------------------------------- */

.single-album-display {
	padding: 20px 0px;
}

.album-cover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/* border-width: 5px; */
	/* border-color: black; */
}

.album-description {
	margin-top: 75px;
}

.rating {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
	width: 80%;
	/* background-color: skyblue; */
	/* border-width: 5px; */
	/* border-color: blue; */
}

#rating-info {
	border-width: 2px;
	border-color: black;
}	